.index-login {
  background-color: #f9c9ae;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index-login .overlap-wrapper {
  background-color: #f9c9ae;
  width: 1440px;
  height: 1932px;
}

.index-login .overlap {
  position: relative;
  height: 1932px;
}

.index-login .frame-populares {
  height: 1566px;
  align-items: center;
  justify-content: space-between;
  gap: 80px 80px;
  position: absolute;
  top: 266px;
  left: 82px;
  display: flex;
  flex-wrap: wrap;
  width: 1312px;
}

.index-login .populares {
  position: relative;
  width: 96.86px;
  height: 20px;
}

.index-login .div {
  align-items: flex-start;
  justify-content: center;
  gap: 33px 33px;
  position: relative;
  margin-left: -704.69px;
  display: flex;
  flex-wrap: wrap;
  width: 1312px;
}

.index-login .cart {
  position: relative;
  width: 270px;
  height: 250px;
  background-color: var(--secondary);
  border-radius: 4px;
  overflow: hidden;
}

.index-login .overlap-group {
  position: absolute;
  width: 270px;
  height: 41px;
  top: 209px;
  left: 0;
  background-image: url(./img/rectangle-15.png);
  background-size: 100% 100%;
}

.index-login .btn-compra {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  top: 8px;
  left: 54px;
}

.index-login .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.index-login .text-wrapper {
  position: absolute;
  top: 10px;
  left: 86px;
  font-family: var(--title-12px-regular-font-family);
  font-weight: var(--title-12px-regular-font-weight);
  color: #ffffff;
  font-size: var(--title-12px-regular-font-size);
  letter-spacing: var(--title-12px-regular-letter-spacing);
  line-height: var(--title-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-regular-font-style);
}

.index-login .oreo {
  position: absolute;
  width: 211px;
  height: 155px;
  top: 34px;
  left: 29px;
  object-fit: cover;
}

.index-login .text-wrapper-2 {
  position: absolute;
  top: 294px;
  left: -4px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--secondary-2);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.index-login .cupcake-oreo {
  position: absolute;
  top: 265px;
  left: 0;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: #000000;
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.index-login .item-popu {
  display: inline-flex;
  flex-direction: column;
  height: 322px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.index-login .cart-2 {
  z-index: 1;
  position: relative;
  width: 270px;
  height: 250px;
  background-color: var(--secondary);
  border-radius: 4px;
  overflow: hidden;
}

.index-login .div-wrapper {
  position: absolute;
  width: 270px;
  height: 41px;
  top: 209px;
  left: 0;
  background-color: var(--button);
  border-radius: 0px 0px 4px 4px;
}

.index-login .div-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  top: 8px;
  left: 54px;
}

.index-login .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--title-12px-regular-font-family);
  font-weight: var(--title-12px-regular-font-weight);
  color: #ffffff;
  font-size: var(--title-12px-regular-font-size);
  letter-spacing: var(--title-12px-regular-letter-spacing);
  line-height: var(--title-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-regular-font-style);
}

.index-login .img-wrapper {
  position: absolute;
  width: 190px;
  height: 180px;
  top: 22px;
  left: 40px;
}

.index-login .com-granulado {
  position: absolute;
  width: 178px;
  height: 173px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.index-login .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  z-index: 0;
}

.index-login .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: #000000;
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.index-login .frame-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.index-login .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--secondary-2);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.index-login .item-popu-2 {
  display: inline-flex;
  flex-direction: column;
  height: 322px;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.index-login .cupckade-de-creme {
  position: absolute;
  width: 161px;
  height: 172px;
  top: 4px;
  left: 14px;
  object-fit: cover;
}

.index-login .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.index-login .item-popu-3 {
  display: inline-flex;
  flex-direction: column;
  height: 322px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.index-login .cupcake-de-morango {
  height: 165px;
  top: 0;
  position: absolute;
  width: 190px;
  left: 0;
  object-fit: cover;
}

.index-login .item-popu-4 {
  height: 322px;
  justify-content: space-between;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.index-login .cupcake-de-chocolate {
  height: 170px;
  top: 0;
  position: absolute;
  width: 190px;
  left: 0;
  object-fit: cover;
}

.index-login .item-popu-5 {
  gap: 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.index-login .cupcake-de-pamonha {
  height: 156px;
  top: 12px;
  position: absolute;
  width: 190px;
  left: 0;
  object-fit: cover;
}

.index-login .cupcake-de {
  position: absolute;
  width: 190px;
  height: 171px;
  top: 4px;
  left: 0;
  object-fit: cover;
}

.index-login .frame-4 {
  background-image: url(./img/cupcake-de-vanilla.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 190px;
  height: 180px;
  top: 22px;
  left: 40px;
}

.index-login .item-popu-6 {
  display: inline-flex;
  flex-direction: column;
  height: 322px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.index-login .oreo-2 {
  position: absolute;
  width: 190px;
  height: 155px;
  top: 12px;
  left: 0;
  object-fit: cover;
}

.index-login .cupcackes {
  position: absolute;
  width: 1440px;
  height: 281px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.index-login .menu-superior {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  position: absolute;
  top: 103px;
  left: 1124px;
}

.index-login .icone-compra {
  background-image: url(./img/cart-1.svg);
  background-size: 100% 100%;
  position: relative;
  width: 80px;
  height: 80px;
}

.index-login .icone-usuario {
  position: relative;
  width: 80px;
  height: 80px;
}

.index-login .logo-home {
  position: absolute;
  width: 184px;
  height: 184px;
  top: 46px;
  left: 50px;
  object-fit: cover;
}

.index-login .blur {
  position: absolute;
  width: 1440px;
  height: 1932px;
  top: 0;
  left: 0;
}
